<li>
  <img src="{{ 'lineup_sumple_list1.jpg' | asset_url }}">
  <div class="txt">
    <div class="model enFont_model"><span>TYPE:</span> L-01A/B</div>
    <div class="tag enFont_model"><span class="com_tag">面積 42㎡</span><span class="com_tag ">1BEDROOM</span></div>
    <div class="price sans"><span class="enFont_model">2,002</span>万円〜</div>
  </div>
</li>
     