{% comment %} {{ 'add_custom_blog_page.css' | asset_url | stylesheet_tag }} {% endcomment %}
{% comment %} 
/***************************************************
 トップ画像エリア
***************************************************/
{% endcomment %}

{{ 'add_top.css' | asset_url | stylesheet_tag }}
{% comment %} 
 <div class="image" style='backgroung-image:url({{ 'top_fv.jpg' | asset_url}})'>aa</div> {% endcomment %}

<div class="flex f_bottom">
  <div class="left_txt flex">
    <h2 class="com_font_size"><span class="enFont">ABOUT</span> はじめに</h2>
      <p>
      心地よい別荘を通じて全ての人の人生を豊かにする。<br>それがit’s HOUSEの目指すべきビジョンです。
      </p>

      <div class="linkarea">
        <a href="#"><div><span class="enFont">01</span>私たちの想い</div>{%- render 'arrow_link' -%}</a>
        <a href="#"><div><span class="enFont">02</span>“別荘”とは何か</div>{%- render 'arrow_link' -%}</a>
      </div>
  </div>
  {% comment %} 
  /***************************************************
  アコーデオン　リンクボックス
  ***************************************************/
  {% endcomment %}
  <div class="right_link">
    <a href="#">
      <div class="txt txt_bk">
        <div class="in_title com_font_size ">
          <span class="enFont">ABOUT US</span><br>
          私たちの想い
          </div>
          
          <p>「第三の居場所を届けたい。」<br>
            それがit’s HOUSEの想いです。</p>
        </div>
    </a>

    <a href="#" class="cover_bg">
      <div class="txt">
        <div class="in_title com_font_size">
          <span class="enFont">LIFESTYLE</span><br>
          別荘で暮らす
          </div>
          
          <p>日常の喧騒から離れ、自然と時間と自分と向き合える特別な住まい。</p>
          </div>
      <img class="" src="{{ 'lifestyle_about.jpg' | asset_url }}">
    </a>
  </div>

</div>

{% schema %}
{
  "name": "トップ 3 ABOUT",
  "tag": "section",
  "class": "top_about",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    
  
  ],
  
  "presets": [
    {
      "name": "トップ 3 ABOUT"
    }
  ]
}
{% endschema %}
