{% comment %} {{ 'add_custom_blog_page.css' | asset_url | stylesheet_tag }} {% endcomment %}
{% comment %} 
/***************************************************
 トップ画像エリア
***************************************************/
{% endcomment %}

{% comment %} 
 <div class="image" style='backgroung-image:url({{ 'top_fv.jpg' | asset_url}})'>aa</div> {% endcomment %}

<div class="flex f_center">
  <div  class="txt">
    <h1>サードプレイスを全ての人へ</h1>
    <p>
      家でもオフィスでもない、心地よい第三の居場所を<br>
      創造することで人生を豊かにする
      </p>
      <div class="com_link">
        <a href="" class="radias_btn_w">第三の居場所とは {%- render 'arrow_link' -%} </a>
      </div>
    </div>
</div>



{% schema %}
{
  "name": "トップ 2 テキストエリア",
  "tag": "section",
  "class": "top_text",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    
  
  ],
  
  "presets": [
    {
      "name": "トップ 2 テキストエリア"
    }
  ]
}
{% endschema %}
